<div id="bookmarks" class="row-fluid">
  <div class="span3">
    <h5><i class="icon-tags"></i> タグリスト</h5>
    <ul class="nav nav-tabs nav-stacked">
      <% Bookmark.tag_counts.each do |tag| %>
        <li class="<%= "active" if params[:tag].to_s == tag.name %>">
        <%= link_to bookmarks_path(tag: tag.name) do %>
          <span class="badge badge-info"><%= tag.count %></span>
          <%= tag.name %>
        <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="span9">
    <div class="row-fluid bookmark-list">
      <ul class="thumbnails">
        <% @bookmarks.each_with_index do |bookmark, idx| %>
          <%= each_row(idx, @bookmarks.length) do %>
            <li class="span4" data-tags="<%= bookmark.tag_list.join(',') %>" data-url="<%= bookmark_path(bookmark) %>" data-title="<%= bookmark.title %>">
              <div class="thumbnail well">
                <%= image_tag bookmark.screenshot.url, size: "300x200" %>
                <div class="caption">
                  <h3><%= link_to truncate(bookmark.title, length: 15, omission: "..."), bookmark.url, target: ["_blank"] %></h3>
                </div>
                <p class="clearfix">
                  <% bookmark.tags.each do |tag|%>
                    <%= link_to bookmarks_path(tag: tag.name), class: "label label-info pull-left tag" do -%>
                      <i class="icon-tag icon-white"></i> <%= tag.name %>
                    <% end -%>
                  <% end %>
                </p>
                <p class="clearfix">
                  <%= link_to "#edit-modal", class: "btn btn-primary", "data-toggle" => "modal", id: "modal-#{bookmark.id}" do -%>
                    <i class="icon-edit icon-white"></i> 編集
                  <% end -%>
                  <%= link_to bookmark_colors_path(bookmark), class: "btn btn-info" do -%>
                    <i class="icon-tint icon-white"></i> Pick
                  <% end -%>
                  <%= link_to bookmark_path(bookmark), method: :delete, class: "btn btn-danger", remote: true, id: "delete-#{bookmark.id}" do -%>
                    <i class="icon-remove icon-white"></i> 削除
                  <% end -%>
                </p>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <%= paginate @bookmarks %>
  </div>
</div>

<%= render 'edit_dialog' %>

<%= link_to 'New Bookmark', new_bookmark_path %>
